footer{
    text-align: center;
    margin-top: 30px;
    background-color: black;
    div{
        display: flex;
        align-content: flex-start;
        flex-direction: row;
        justify-content: space-around;
        p{
            font-family: "Playfair Display", serif;
            color: white;
            font-weight: normal;
            margin-top: 50px;
        }
    }
    h3{
        display: flex;
        justify-content: center;
        font-family: "Playfair Display", serif;
        color: white;
        font-weight: normal;
        margin-top: 50px;
    }
}